form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    color: black;

    input, select, textarea, button {
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 15px;
        border: none;
        text-align: center;
    }

    button {
        background: gray;
        margin-bottom: 30px;
    }
}

div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

span {
    margin-bottom: 30px;
    font-weight: bold;
}